body {
  font-family: 'PT Serif', serif;
  font-size: 25px;
}

.rcorners {
  margin: 15px; 
  border-radius: 20px;
  border: 2px solid black;
  padding: 15px; 
  width: 100px;
  height: 100px;  
}

.letter {
  font-size: 65px;
  height: 70px;
  text-align: center;
}

