{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/jumble.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<table style="margin:50px auto 0; height: fit-content">
{% for w in words: %}
<tr>
{% for x in w: %}
    <td>
     <div class="rcorners">
         <div class="letter">{{ x }}</div>
     </div>
    </td>
{% endfor %}
    </tr>
{% endfor %}
</tr>
</table>
{% endblock %}
