{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/today.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="day-container">
    <span class="generic-info">
    The day in history {{ month }} / {{ day }}
    </span>
<div class="info">
<fieldset> 
    <legend>Events</legend>
    <ul>
{% for i in events: %}
<li>
{{ i|safe }}
</li>
{% endfor %}
    </ul>
</fieldset>
</div>

<div class="info">
<fieldset> 
    <legend>Births</legend>
    <ul>
{% for i in births: %}
<li>
{{ i|safe }}
</li>
{% endfor %}
    </ul>
</fieldset>
</div>

<div class="info">
<fieldset> 
    <legend>Deaths</legend>
    <ul>
{% for i in deaths: %}
<li>
{{ i|safe }}
</li>
{% endfor %}
    </ul>
</fieldset>
</div>
</div>
{% endblock %}
